@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --primary: #ff5151;
    --secondary: #ff2121;
    --darkGray: #212121;
    --mediumGray: #303030;
    --mediumGray2: #555;
    --lightGray: #9e9e9e;
    --lightGray2: #aeaeae;
    --lightGray3: #dadada;
    --dimWhite: rgba(255, 255, 255, 0.7);
}


*{
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--primary);
    padding: 0.5rem 0.8rem;
    font-weight: 600;
    transition: 0.1s linear;
    background-color: white;
    color: var(--primary);
}

.btn-fill{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0.8rem;
    font-weight: 600;
    transition: 0.1s linear;
    background-color: var(--primary);
    color: white;
}

.btn-fill:hover{
    background-color: var(--secondary);
}


.btn:hover{
    background-color: var(--primary);
    color: white;
}


.input-theme{
    border-bottom: 2px solid var(--lightGray3);
    padding: 0.1rem 0.5rem;
}

.input-theme:focus{
    outline: none;
    border-bottom-color: var(--primary);
}

.placeholder{
    position: absolute;
    left: 0.4rem;
    top: 0;
    color: #6e6e6e;
    pointer-events: none;
    transition: 0.1s linear;
}

.placeholder.active{
    top: -24px;
    left: 0;
    font-size: 13px;
    counter-reset: var(--primary);
}

.input-theme:focus + .placeholder{
    top: -24px;
    left: 0;
    font-size: 13px;
    color: var(--primary);
}



/* login loading animation */

.pulse-container {
    width: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .pulse-bubble {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: var(--primary);
  }
  
  .pulse-bubble-1 {
      animation: pulse .5s ease 0s infinite alternate;
  }
  .pulse-bubble-2 {
      animation: pulse .5s ease .2s infinite alternate;
  }
  .pulse-bubble-3 {
      animation: pulse .5s ease .4s infinite alternate;
  }